.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f7f9fc;
  font-family: 'Poppins', sans-serif;
  }

  .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  }

  .dashboard-title {
  font-size: 1.5rem;
  .primmary-color {	
    color: #ed3280;
  }
  }

  .logout-button {
  background-color: #f70aeb;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  }

  .logout-button:hover {
  background-color: #e60bd4;
  }

  .dashboard-main {
  display: flex;
  flex: 1;
  }

  .dashboard-sidebar {
  background-color: #ffffff;
  padding: 1rem;
  width: 300px;
  border-right: 1px solid #e0e0e0;
  }
  .collapsed{
    width: 40px;
  }

  .dashboard-sidebar h2 {
  font-size: 1.2rem;
  color: #333333;
  margin-bottom: 1rem;
  }

  .dashboard-sidebar label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  color: #666666;
  }

  .dashboard-sidebar input,
  .dashboard-sidebar select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  }

  .filter-button {
  background-color: #f70aeb;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  }

  .filter-button:hover {
  background-color: #e60bd4;
  }

  .dashboard-map {
  flex: 1;
  padding: 1rem;
  }

  .map-container {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  }

  .menu-options {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  list-style-type: none; /* Added this line */
  }

  .menu-item {
  padding: 0.5rem 1rem;
  color: #333333;
  cursor: pointer;
  transition: background-color 0.3s;
  }

  .menu-item:hover {
  background-color: #f0f0f0;
  }


  .watermarked-cont::before {
    position: fixed;
    top: -75%;
    left: -75%;

    display: block;
    width: 300%;
    height: 300%;

    transform: rotate(-45deg);
    content: attr(data-watermark);

    font-size: 30px;
    opacity: 0.75;
    line-height: 4em;
    letter-spacing: 2px;
    color: #cccccc;
}
