<div class="calendar-container">
    <div class="month-tabs">
        <button *ngFor="let month of months; let i = index"
                        [class.active]="i === selectedMonthIndex"
                        (click)="selectMonth(i)">
            {{ month }}
        </button>
    </div>

    <table class="calendar-table">
        <thead>
            <tr>
                <th></th>
                <ng-container *ngFor="let day of daysInMonth">
                    <th colspan="2" class="day-header" [class.holiday]="isHoliday(day)">{{ day }}</th>
                </ng-container>
            </tr>
            <tr>
                <th></th>
                <ng-container *ngFor="let day of daysInMonth">
                    <th class="half-day-header"  [class.holiday]="isHoliday(day)">m</th>
                    <th class="half-day-header"  [class.holiday]="isHoliday(day)">t</th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms">
                <td class="room-name" [ngClass]="'building-' + room.type">{{ room.roomNumber }}</td>
                <ng-container *ngFor="let day of daysInMonth">
                    <td class="cell" (click)="openReservationModal()"  [class.holiday]="isHoliday(day)"></td>
                    <td class="cell"  (click)="openReservationModal()"  [class.holiday]="isHoliday(day)"></td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal-backdrop" *ngIf="showModal" (click)="closeReservationModal()"></div>
<div class="modal" *ngIf="showModal">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeReservationModal()">&times;</span>
        <h2>Reservar habitación</h2>
        <!-- Aquí puedes agregar el formulario o contenido del modal -->
        <form >
            <div>
                <label for="room">Habitación:</label>
                <input id="room" type="text" readonly>
            </div>
            <div>
                <label for="date">Fecha desde:</label>
                <input id="date" type="text" readonly>
                <label for="date">Fecha hasta:</label>
                <input id="date" type="text" readonly>
            </div>
            <div>
                <label for="halfDay">Late checkout:</label>
                <select id="halfDay"  name="halfDay">
                    <option value="m">no</option>
                    <option value="t">si</option>
                </select>
            </div>
            <div>
                <label for="name">Nombre:</label>
                <input id="name" type="text" name="name" required>
            </div>
            <button type="submit">Aceptar</button>
        </form>
    </div>
</div>
