
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-column">
        <p><i class="pi pi-whatsapp"></i>54 9 266 484 9744 -54 9 266 458 2242</p>
        <p><i class="pi pi-map-marker"></i> Tomas Jofre 1551 San Luis</p>
        
      </div>
      <div class="footer-column">
       
        <p><i class="pi pi-instagram"></i>be_haus</p>
        <p><i class="pi pi-envelope"></i> reservas&#64;behausargentina.com</p>
      </div>
      <div class="footer-column">       
        <p><i class="pi pi-globe"></i>www.behauseargentina.com </p>
      </div>

    </div>
  </footer>

 

<div class='watermarked' data-watermark='BeHaus' ></div>


